<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.CommentMapper">

	<select id="commentCount" resultType="int">
		SELECT
		COUNT(*)
		FROM COMMENT
	</select>

	<select id="commentList" resultType="CommentDto">
		SELECT
		*
		FROM COMMENT
	</select>


	<insert id="commentInsert" parameterType="CommentDto">
		INSERT INTO
		COMMENT (commentno, BNO, CONTENT, WRITER, REG_DATE)
		VALUES(#{commentno},#{bno},#{content},#{writer},now())
	</insert>

	<update id="commentUpdate" parameterType="CommentDto">
		UPDATE COMMENT
		SET
		CONTENT = #{content}
		WHERE commentno = #{commentno}
	</update>

	<delete id="commentDelete" parameterType="int">
		DELETE FROM COMMENT WHERE commentno = #{commentno}
	</delete>
</mapper>


